* {
    margin: 0;
    padding: 0;
}
.wrapper {
    width: 1170px;
    margin: auto;
}
body {
    background-repeat: no-repeat;
    background-size: 60%;
}

.nav-area {
    float: right;
    list-style: none;
    margin-top: 30;
}
.nav-area li {
      display: inline-block;

}
.nav-area li a {

    color: rgb(167, 159, 60);
    text-decoration: none;
    padding: 5px 20px;
    font-family: poppins;
    font-size: 16px;
}
.nav-area li a:hover {
    background: rgb(206, 128, 128);
    color: rgb(61, 48, 90);
}
.logo img {
    width: 60px;
    float: left;
    height: auto;
}
.welcome-text {
    position: absolute;
    width: 1600px;
    height: 30px;
    margin-left: 20px 30px;
    text-align: center;
    color: #fff;
    padding-top: 10px;

}
.welcome-text h1 {
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 50px;
    float: center;
    padding: 200px;
    margin-left: 40px;
}
.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    margin-right: 740px;
    display: inline-block;
    color: #fff;
    text-align: center;
}
.welcome-text a:hover {
    background: rgb(207, 52, 221);
    color: rgb(202, 161, 24);
}

@import url('https://fonts.googleapis.com/css?family=Kavivanar&display=swap');

* {
    margin: 0;
    padding-bottom: 0;
    user-select: 0;
}

body{
    font-family: 'Kavivanar', cursive;
}

.wrapper{
    width: 100%;
    max-width: 680px;
    margin: 100px auto 0;
    box-sizing: border-box;
}

.content{
    text-align: center;
    padding: 4px;
}

.content h1{
    letter-spacing: 1px;
}

.form{
    width: 100%;
    margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form{
    width: 100%;
    min-height: 65px;
    margin: 10px 0;
    overflow: hidden;
}

.form input[type="text"],
.form textarea{
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    transition: all 0.2s ease;
}

.form input:focus,
form textarea:focus{
    border-radius: #4ca1af;
    box-shadow: inset 0 1px 1px rgba(0,0,0, 0.0125),0 0 8px rgba(76,161,175, 0.5);
}

.form .label{
    margin-bottom: 5px;
    text-transform: capitalize;
}

.top-form .inner-form{
    width: 29.9%;
    float: left;
    margin-right: 5;
}

.top-form .inner-form:last-child{
    margin-right: 0;
}

.middle-form{
    clear: both;
}

.bottom-form textarea{
    height: 120px;
}

.submit-btn{

    width: 150px !important;
    cursor: pointer;
    margin-left: 18px;
}
.g-recaptcha
{
    margin: 10px 20px;
}
.status
{
    font-size: 15px;
    color: lightblue;
    padding: 15px;
}

::-webkit-input-placeholder{
    font-family: 'Kavivanar', cursive;
    text-transform: capitalize;
}

::-moz-input-placeholder{
    font-family: 'Kavivanar', cursive;
    text-transform: capitalize;
}

::-ms-input-placeholder{
    font-family: 'Kavivanar', cursive;
    text-transform: capitalize;
}

@media screen and (max-width: 460px){
    .wrapper{
        margin: 25px auto;
    }
    .top-form .inner-form{
        width: 100%;
        margin: 5px 0;
    }
}

.social-menu ul {
    padding: 90px;
    margin-left: 90px;
    display: flex;
    transform: translate(-170px, 0px); 
}
.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 20px;
    line-height: 45px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 80px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #cd201f;
}